%table.comment_body.table.table-striped.table-hover{data: {createdat: comment.created_at}}
  %tr
    %td{ style: "width: 120px;"}
      %b= comment.commentable_type
      &rarr;
    %td
      = link_to 'commentable_title', comment.commentable_url
      (#{comment.try(:commentable_state)})
  %tr.success
    %td
      %b= t('the_comments.content')
    %td= comment.content