= t "the_comments.management"
= render partial: 'the_comments/haml/sidebar'

= paginate @comments

.comments
  - @comments.each do |comment|
    - klass = { published: :primary, draft: :warning, deleted: :danger }[comment.state.to_sym]
    .panel{ class: "panel-#{klass}" }
      .panel-heading= comment.title
      .panel-body
        = render partial: 'the_comments/haml/comment_body', locals: { comment: comment }

= paginate @comments